body{
  background-color: beige;
}

.custom-dropdown{
  padding: 12px;
  max-width: 320px;
  position: relative;
}

.dropdown-selectedItem{
  background-color: white;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
}


.dropdown-item-list{
  border-radius: 6px;
  background-color: white;
  position: absolute;
  top: 100%;
  width: 320px;
}


.dropdown-item{
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5fff5;
}


.search-bar-filter input{
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #b7beb7;
  width: 300px;
  padding: 3px;
  outline: none;
  font-size: 0.9em;
}

.search-bar-filter{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* arrow css */

.dropdown-selectedItem::after{
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #bababa;
  border-bottom: 2px solid #bababa;
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 12px;
}